In [ ]:
score= [10,20,30,40,50]
sum=0
for s in score:
  sum+=s
print("총점: ",sum)

총점:  150

In [ ]:
nums= [0,1,2,3,4,5,6,7,8,9]
print(nums[2:3])
print(nums[:4])
print(nums[6:])
print(nums[1:7:2])
print(nums[-7:5])
print(nums[-0])
# list는 얼마든지 연필로 쓴 것이기 때문에 바꿀 수 있다.

[2]
[0, 1, 2, 3]
[6, 7, 8, 9]
[1, 3, 5]
[3, 4]
0

In [ ]:
#list slice 안에 list를 집어넣기

In [ ]:
nums= [0,1,2,3,4,5,6,7,8,9]
nums[2:5]=[20,30,40]
nums[6:8]=[90,91,92,93,94]
print(nums)

[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

In [ ]:
nums= [0,1,2,3,4,5,6,7,8,9]
nums[2:5]=[]
print(nums)
del nums[4]
print(nums)

[0, 1, 5, 6, 7, 8, 9]
[0, 1, 5, 6, 8, 9]

In [ ]:
list1=[1,2,3,4,5]
list2=[10,11]
list1=list1+list2
listadd=list1+list2
print(list1)
print(listadd)
listmulti=list2*3
print(listmulti)

[1, 2, 3, 4, 5, 10, 11]
[1, 2, 3, 4, 5, 10, 11, 10, 11]
[10, 11, 10, 11, 10, 11]

In [ ]:
for i in range(0,len(list2)):
    list2[i]=list2[i]*3
print(list2)

[30, 33]

In [ ]:
lol=[ [1,2,3],[4,5],[6,7,8,9]]
print(lol[0])
print(lol[2][1])
for sub in lol:
  for item in sub:
    print(item, end=' ')
  print()

[1, 2, 3]
7
1 2 3
4 5
6 7 8 9

In [ ]:
nums=[1,2,3,4]
nums.append(5)
nums.insert(2,99)
print(nums)
nums.pop(2)
print(nums)

[1, 2, 99, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
nums=[1,2,3,4]
nums[2:2]=[90,91,92]
print(nums)
nums=[1,2,3,4]
nums[2]=[90,91,92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]
[1, 2, [90, 91, 92], 4]

In [ ]:
list1=[1,2,3,4,5]
list2=[10,11]
list1.extend(list2)
print(list1)
list3=list1+list2
print(list3)
print(list1)

[1, 2, 3, 4, 5, 10, 11]
[1, 2, 3, 4, 5, 10, 11, 10, 11]
[1, 2, 3, 4, 5, 10, 11]

In [ ]:
print(list1)
list1=list1+list2
print(list1)

[1, 2, 3, 4, 5, 10, 11]
[1, 2, 3, 4, 5, 10, 11, 10, 11]

In [ ]:
score=[88,95,70,100,99,80,78,50]
score.remove(100)
print(score)
del(score[2])
print(score)
score[1:4]=[]
print(score)
score.clear()
print(score)
score=[88,95,70,100,99,80,78,50]
print(score)
score[:]=[]# score.clear()와 같다.
print(score)
score=[88,95,70,100,99,80,78,50]
print(score)
del score[:]# score.clear()와 같다.
print(score)

[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 78, 50]
[]
[88, 95, 70, 100, 99, 80, 78, 50]
[]
[88, 95, 70, 100, 99, 80, 78, 50]
[]

In [ ]:
score=[88,95,70,100,99,22,33,44,55,66]
print(score.pop())
x=score.pop()
print(x)
print(score.pop())
print(score.pop(1))
print(score.pop(-1))
print(score.pop(-1))
score.append(77)
print(score)

66
55
44
95
33
22
[88, 70, 100, 99, 77]

In [ ]:
score=[88,95,70,100,99,80,78,50]
perfect=score.index(100)
print("만점 받은 학생은"+str(perfect)+"번 입니다.")
pernum=score.count(100)
print("만점 받은 학생은"+str(pernum)+"명 입니다.")

만점 받은 학생은3번 입니다.
만점 받은 학생은1명 입니다.

In [ ]:
print("학생 수는 %d명 입니다"%len(score))
print("최고 점수는 %d점 입니다"% max(score))
print("최저 점수는 %d점 입니다"% min(score))

학생 수는 8명 입니다
최고 점수는 100점 입니다
최저 점수는 50점 입니다

In [ ]:
ans= input("결제하시겠습니까?")
if ans in ['yes','y','ok','예','당근']:
  print("구입해 주셔서 감사합니다")
else:
  print("안녕히 가세요")

결제하시겠습니까?예
구입해 주셔서 감사합니다

In [ ]:
score=[88,95,70,100,99]
score2=sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]

In [ ]:
country =["Korea","Japan","CHINA","America"]
country.sort()
print(country)
country.sort(key=str.lower)
print(country)

['America', 'CHINA', 'Japan', 'Korea']
['America', 'CHINA', 'Japan', 'Korea']

In [ ]:
score=(88,95,70,100,99)
sum=0
for s in score:
  sum+=s
print("총점 :",sum)
print("평균 :",sum/len(score))

총점 : 452
평균 : 90.4

In [ ]:
tu=2,
value=2
value1=(2)
value2=(2,)
value3=2,3
print(tu)
print(value)

(2,)
2

In [ ]:
tu= "이순신", "김유신", "강감찬"
lee, kim, kang= tu
print(lee)
print(kang)
print(kim)

이순신
강감찬
김유신

In [ ]:
a,b =12,34
print(a,b)
a,b=b,a
print(a,b)

12 34
34 12

In [ ]:
tu= tuple(score)
print(tu)
li= list(tu)
li[0]=100
print(li)

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

In [ ]:
d, m= divmod(7,3)
print("몫",d)
print("나머지",m)

몫 2
나머지 1

In [ ]:
dic={'boy':'소년','school':'학교','book':'책'}
print(dic['boy'])
print(dic['book'])
w= input("문자를 입력하시오.")
if w not in dic:
  print("이것은 사전에 없는 단어입니다.")

소년
책
문자를 입력하시오.fl
이것은 사전에 없는 단어입니다.

In [ ]:
dic= {'boy':'소년','school':'학교','book':'책'}
dic['boy']='남자애'
dic['girl']='소녀'
del dic['book']
print(dic)

{'boy': '남자애', 'school': '학교', 'girl': '소녀'}

In [ ]:
print(dic.keys)
print(dic.values)
print(dic.items)
dic2={'student':'학생',"teacher":"선생님","book":"서적"}
dic.update(dic2)
print(dic2)

<built-in method keys of dict object at 0x7f51e352bbe0>
<built-in method values of dict object at 0x7f51e352bbe0>
<built-in method items of dict object at 0x7f51e352bbe0>
{'student': '학생', 'teacher': '선생님', 'book': '서적'}

In [ ]:
li=[['boy','소년'],['school','학교'],['book','책']]
dic=dict(li)
print(dic)
li1=list(dic)
print(li1)

{'boy': '소년', 'school': '학교', 'book': '책'}
['boy', 'school', 'book']

In [ ]:
song= """By the rivers of Babylon 
there he sat down,yeah he wept,when he remembered Zion,when the wicked carried us away in captivity
required from us a song now How can we sing lord's song in a strange land"""

In [ ]:
alphabet= dict()
alphabet={}
for c in song:
  if c.isalpha()==False:
    continue
  c=c.lower()
  if c not in alphabet:
    alphabet[c]=1
  else:
    alphabet[c]+=1
print(alphabet)

{'b': 4, 'y': 5, 't': 8, 'h': 10, 'e': 22, 'r': 12, 'i': 10, 'v': 2, 's': 9, 'o': 10, 'f': 2, 'a': 12, 'l': 3, 'n': 14, 'd': 7, 'w': 9, 'p': 2, 'm': 3, 'z': 1, 'c': 4, 'k': 1, 'u': 3, 'q': 1, 'g': 4}

In [ ]:
key=list(alphabet.keys())
key.sort()
for c in key:
  num=alphabet[c]
  print(c,"=>",num)

a => 12
b => 4
c => 4
d => 7
e => 22
f => 2
g => 4
h => 10
i => 10
k => 1
l => 3
m => 3
n => 14
o => 10
p => 2
q => 1
r => 12
s => 9
t => 8
u => 3
v => 2
w => 9
y => 5
z => 1

In [ ]:
asia={'korea','china','japan','Mongolia'}
asia.add('vietnam')
asia.add('china')
asia.remove('japan')
print(asia)

{'korea', 'Mongolia', 'china', 'vietnam'}

In [ ]:
print(set("sanghyung"))
print(set([12,34,56,78]))
print(set(["신지희","한주완","김태륜"]))
print(set({'boy':'소년','school':'학교','book':'책'}))
print(set())

{'n', 'u', 'g', 'h', 'a', 's', 'y'}
{56, 34, 12, 78}
{'신지희', '한주완', '김태륜'}
{'book', 'school', 'boy'}
set()

In [ ]:
twox={2,4,6,8,10,12}
threex={3,6,9,12,15}
print("교집합",twox& threex)
print("합집합",twox|threex)
print("차집합",twox-threex)
print("차집합",threex-twox)
print("배타적 차집합",twox^threex)

교집합 {12, 6}
합집합 {2, 3, 4, 6, 8, 9, 10, 12, 15}
차집합 {8, 2, 10, 4}
차집합 {9, 3, 15}
배타적 차집합 {2, 3, 4, 8, 9, 10, 15}

In [ ]:
mammal={'코끼리','고릴라','사자','고래','사람','원숭이','개'}
primate={'고릴라','사람','원숭이'}
if '사자' in mammal:
  print("사자는 포유류이다.")
else:
  print("사자는 포유류가 아니다.")

print(primate<=mammal)
print(primate<mammal)
print(primate<=primate)
print(primate<primate)

사자는 포유류이다.
True
True
True
False

In [ ]:
mammal={'코끼리','고릴라','사자','고래','사람','원숭이','개'}
primate={'고릴라','사람','원숭이'}
if '사자' in mammal:
  print("사자는 포유류이다.")
else:
  print("사자는 포유류가 아니다.")

print(primate<=mammal)
print(primate<mammal)
print(mammal<primate)
print(primate<=primate)
print(primate<primate)

사자는 포유류이다.
True
True
False
True
False

In [ ]:
a=[(x,y,z)for x in range(1,30) for y in range(x,30) for z in range(y,30)if x**2+ y**2==z**2]
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

In [ ]:
new=[]
for x in range(1,30):
  for y in range(x,30):
    for z in range(y,30):
      if x**2+y**2== z**2:
        new.append((x,y,z))
print(new)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

In [ ]:
menu=0
friend=[]
while menu!=9:
  print("---------------")
  print("1. 친구 리스트 출력")
  print("2. 친구 추가")
  print("3. 친구 삭제")
  print("4. 이름 변경")
  print("5. 종료")

  menu=int(input("메뉴를 선택하시오 :"))
  if menu==1:
    print(friend)
  elif menu==2:
    name=input("이름을 입력하시오.:")
    friend.append(name)
  elif menu==3:
    del_name=input("지우고 싶은 이름을 입력하시오.:")
    if del_name in friend:
      friend.remove(del_name)
    else:
      print("이름이 발견되지 않았음")
  elif menu==4:
    old_name=input("변경하고 싶은 이름을 입력하시오.:")
    if old_name in friend:
      index= friend.index(old_name)
      new_name=input("새로운 이름을 입력하시오.:")
      friends[index]=new_name
    else:
      print("이름이 발견되지 않았음")
  elif menu==5:
    print("종료")
    break

---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :2
이름을 입력하시오.:이장범
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :2
이름을 입력하시오.:김동주
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :2
이름을 입력하시오.:이장현
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :3
지우고 싶은 이름을 입력하시오.:신세라
이름이 발견되지 않았음
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :2
이름을 입력하시오.:신세라
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :3
지우고 싶은 이름을 입력하시오.:신세라
---------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
5. 종료
메뉴를 선택하시오 :5
종료

In [ ]:
english_dict=dict()

english_dict['one']='하나'
english_dict['two']='둘'
english_dict['three']='셋'

word=input("단어를 입력하시오.")
  
print(english_dict.get(word,"없음"))

단어를 입력하시오.one
하나

In [ ]:
partyA=set(["Park","Kim","Choi"])
partyB=set(["Park","Choi"])
print("2개의 파티에 모두 참석한 사람은 다음과 같습니다.")

2개의 파티에 모두 참석한 사람은 다음과 같습니다.